asgiref==3.8.1
diff-match-patch==20241021
Django==5.0.7
django-import-export==4.3.3
django-jazzmin==3.0.0
future==1.0.0
gunicorn==23.0.0
packaging==24.2
python-dotenv==1.0.1
pytz==2024.1
pyzk==0.9
schedule==1.2.2
sqlparse==0.5.1
tablib==3.7.0
tzdata==2024.1
wfastcgi==3.0.0
whitenoise==6.7.0
