<li class="nav-item">
    <a href="{% url 'dashboard' %}" class="nav-link">
    <i class="nav-icon fas fa-tachometer-alt"></i>
    <p>
        Dashboard
    </p>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fa fa-users"></i>
        <p>
            CRM
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{% url "vendor-list" %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Vendors</p>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-box"></i>
        <p>
            Product Management
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{% url "product:product_list" %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Products</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url "product:category_list" %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Categories</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url "product:attribute_list" %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Attributes</p>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-shopping-cart"></i>
        <p>
            Order Management
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{% url "order-list" %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Orders</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url "order-create" %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Create Order</p>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-warehouse"></i>
        <p>
            Inventory
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{% url "stock-in-list" %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Stock In</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url "stock-in-create" %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>New Stock In</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url "stock-list" %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Stock Levels</p>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-chart-bar"></i>
        <p>
            Reports
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{% url "reports-dashboard" %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Reports Dashboard</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url "sales-report" %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Sales Report</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url "stock-report" %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Stock Report</p>
            </a>
        </li>
    </ul>
</li>